.header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-background {
    background: #8E0E00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

.main-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
}

.content-container {
    width: 80%;
    margin: 0 auto;
}

.footer {
    height: 300px;
    color: white;
}

.footer-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
}


.slider {
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-next {
    visibility: hidden;
    opacity: 0;
    right: 0px;
    background-image: unset;
    transition: all ease-in-out 0.2s;
}

.slick-prev {
    visibility: hidden;
    opacity: 0;
    left: 0px;
    z-index: 1;
    background-image: unset;
    transition: all ease-in-out 0.2s;
}

.slick-arrow {
    width: 60px;
    height: 100%;
}

.slick-slider:hover .slick-next {
    visibility: visible;
    opacity: 1;
    background-image: linear-gradient(-90deg, #00000099, #00000005);
    transition: all ease-in-out 0.2s;
}

.slick-slider:hover .slick-prev {
    visibility: visible;
    opacity: 1;
    background-image: linear-gradient(90deg, #00000099, #00000005);
    transition: all ease-in-out 0.2s;
}

.slick-center div {
    opacity: 1 !important;
    transition: all ease-in-out .3s;
}

.movie-card {
    opacity: 0.5;
    height: 450px;
    width: 300px;
    background-color: white;
    background-size: cover;
}

.movie-card-info {
    background-image: linear-gradient(45deg, #000000, rgb(0 0 0 / 0%));
    height: 100%;
    padding: 10px 20px;
}

.movie-card-title {
    font-weight: 300;
    font-size: 1.375rem;
    color: #f8f9fa;
}

.movie-card-year {
    font-weight: 300;
    font-size: 0.875rem;
    color: #f8f9fa;
}

.movie-card-description {
    font-weight: 300;
    font-size: 0.875rem;
    color: #f8f9fa;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.movie-card-rating {
    color: #f5b50a;
    font-size: 1em;
    fill: #f5b50a;
}

.movie-star-icon {
    display: inline-block;
    flex-shrink: 0;
    user-select: none;
    width: 1rem;
    height: 1rem;
}

.movie-card-small {
    height: 300px;
    width: 200px;
    background-color: white;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.movie-card:hover {
    cursor: pointer;
}


.movie-card:hover .movie-card-title {
    color: #f8f9fa;
    text-decoration: underline;
}


.movie-card-small:hover {
    cursor: pointer;
}


.movie-card-small:hover .movie-card-small-title {
    color: #f8f9fa;
    text-decoration: underline;
}

.movie-card-small-title {
    font-weight: 300;
    font-size: 1rem;
    color: #f8f9fa;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-card-small-footer {
    width: 100%;
    transition: all 0.2s ease-in-out
}

.movie-card-small-info {
    background-image: linear-gradient(45deg, #000000, rgb(0 0 0 / 0%));
    height: 100%;
    width: 200px;
    padding: 10px 20px;
}

.movie-card-small-description {
    font-weight: 300;
    font-size: 0.875rem;
    color: #f8f9fa;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 0px;
    transition: all 0.3s ease-in-out
}

.movie-card-small:hover .movie-card-small-description {
    height: 87px;
    transition: all 0.3s ease-in-out;
}

.section {
    margin-top: 25px;
}

.section-title {
    font-size: 2.375rem;
}

.section-subtitle {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, .5);
}

.section-body {
    margin: 20px auto 40px auto;
}

.popular-movie-slider {
    margin: 40px auto 80px auto !important;
}

.celebrity-title {
    font-size: 1.5rem;
    color: black;
}

.celebrity-title:hover {
    text-decoration: none;
}

.celebrity-subtitle {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, .5);
}

.header-image {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.genre-tab {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.fullImage {
    width: 100%;
    height: 90%;
}

img.fullImage:hover {
    opacity: .5;
}

.h3-style {
    color: #606060;
    font-weight: 600;
    line-height: 1;
}