{% extends 'base.html' %}
{% load static from static %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center px-5 py-5">
                    <h1 class="text-white">Our Blog</h1>
                    <p class="text-white">Get the comprehensive reviews from the expert users</p>
                </div>
            </div>
        </div>
    </section>

    <div class="content bg-white">
        <section class="pt-5">
            <div class="container">
                <div class="row py-3 mt-3">
                    <div class="col-md-10 offset-md-1">
                        <article>
                            <div class="row">
                                <div class="col-12">
                                    <img class="img-fluid fullImage" src="{% static 'images/death.jpeg' %}">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 offset-md-1 col-2 offset-1 pr-div border-right">
                                    <h3 class="h3-style">11 Jan 2020</h3></div>
                                <div class="col-md-9 col-9">
                                    <h3 class="text-capitalize">The worst film you can ever seen in 2019 </h3>
                                </div>
                            </div>
                            <div class="row px-5 py-3">
                                <div class="col">
                                    <p class="p-article text-justify"> All the movies was taken from IMDb. which means
                                        they've taken the lowest rank during the year. And here is the list :
                                        Rambo:(lastblood),Arctic Dogs,Cats, Replicas,Playmobil: The Movie,A Madea Family
                                        Funeral,Hellboy (2019),After (2019),The Hustle (I) (2019),Serenity
                                        (2019),UglyDolls (2019)Men in Black: International (2019),
                                    </p>
                                    <a class="a-article" href="./detail.html">Read more</a>
                                </div>
                            </div>

                        </article>

                    </div>
                </div>
                <div class="row py-3 mt-3">
                    <div class="col-md-10 offset-md-1">
                        <article>
                            <div class="row">
                                <div class="col-12">
                                    <img class="img-fluid fullImage" src="{% static 'images/oscar.jpg' %}" alt="oscar">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 offset-md-1 col-2 offset-1 border-right">
                                    <h3 class="h3-style">11 Jan 2020</h3></div>
                                <div class="col-md-9 col-9">
                                    <h3 class="text-capitalize">The 10 Worst Netflix Original Movies Since it
                                        Launched </h3>
                                </div>
                            </div>
                            <div class="row px-5 py-3">
                                <div class="col">
                                    <p class="p-article text-justify">Netflix may have produced some truly great
                                        original content, but some of its original movies are really just plain bad.
                                        the list contains: Death Note (2017) (4.5),
                                        The Week Of (2018) (5.1), Sandy Wexler (2017) (5.1),How It Ends (2018) (5.0),The
                                        Ridiculous 6 (2015) (4.8),IO (2019) (4.7),I Am The Pretty Thing That Lives In
                                        The House (2016) (4.5)
                                        Secret Obsession (2019),The Open House (2018) (3.2)
                                    </p>
                                    <a class="a-article" href="./detail.html">Read more</a>
                                </div>
                            </div>

                        </article>

                    </div>
                </div>
                <div class="row py-3 mt-3">
                    <div class="col-md-10 offset-md-1">
                        <article>
                            <div class="row">
                                <div class="col-12">
                                    <img class="img-fluid fullImage" src="{% static 'images/notimetodie.jpg' %}">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2 offset-md-1 col-2 offset-1 border-right">
                                    <h3 class="h3-style">11 Jan 2020</h3></div>
                                <div class="col-md-9 col-9">
                                    <h3>10 worst films during the last 10 years </h3>
                                </div>
                            </div>
                            <div class="row px-5 py-3">
                                <div class="col">
                                    <p class="p-article text-justify"> As we all know every year has its own films which
                                        they had a good expections but after we saw them we are really regret about
                                        wasting our time watching them.So to save your time please don't watch these
                                        movies:
                                        Suicide Squad, The Ridiculous,Dirty Grandpa,The Last Airbender,The EMOJI
                                        movie,TIE: London has fallen & Gods of Egypt,Zoolander.
                                    </p>
                                    <a class="a-article" href="./detail.html">Read more</a>
                                </div>
                            </div>

                        </article>

                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}