{% extends 'base.html' %}
{% load static from static %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center px-5 py-5">
                    <h1 class="text-white">Our Blog</h1>
                    <p class="text-white">Get the comprehensive reviews from the expert users</p>
                </div>
            </div>
        </div>
    </section>

    <div class="content bg-white">
        <div class="pt-5">
            <div class="container">
                <div class="row py-3 mt-3">
                    <div class="col-md-10 offset-md-1">
                        {% for post in posts %}
                            <article>
                                <div class="row">
                                    <div class="col-12">
                                        <img class="img-fluid fullImage" src="{{ post.image }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-1 col-2 offset-1 pr-div border-right">
                                        <h3 class="h3-style">{{ post.created_date }}</h3></div>
                                    <div class=" col-md-9 col-9">
                                        <h3 class="text-capitalize">{{ post.title }}</h3>
                                    </div>
                                </div>
                                <div class="row px-5 py-3">
                                    <div class="col">
                                        <p class="p-article text-justify">{{ post.text }}</p>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}