{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div class="content-container">
            <section class="recent-movie-slider slider">
                {% for recent in recentList %}
                    <div>
                        {% include 'components/movie-card.html' with moviePoster=recent.media.poster movieTitle=recent.media.title movieYear=recent.media.year.year movieDescription=recent.media.description %}
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
    <div class="content bg-white">
        <div class="content-container">
            <div class="row">
                <div class="col col-md-8" style="padding-right: 50px">
                    <div class="section">
                        <div class="section-title">
                            Movies
                        </div>
                        <div class="section-subtitle">
                            Most Popular
                        </div>
                        <div class="section-body">
                            <section class="popular-movie-slider slider">
                                {% for popular in mostPopularMovieList %}
                                    <div>
                                        {% include 'components/movie-card-small.html' with moviePoster=popular.media.poster movieTitle=popular.media.title movieYear=popular.media.year.year movieDescription=popular.media.description %}
                                    </div>
                                {% endfor %}
                            </section>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-title">
                            Tv Shows
                        </div>
                        <div class="section-subtitle">
                            Most Popular
                        </div>
                        <div class="section-body">
                            <section class="most-popular-tv-shows-slider slider">
                                {% for popular in mostPopularTvShowList %}
                                    <div>
                                        {% include 'components/movie-card-small.html' with moviePoster=popular.media.poster movieTitle=popular.media.title movieYear=popular.media.year.year movieDescription=popular.media.description %}
                                    </div>
                                {% endfor %}
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="section">
                        <div class="section-title">
                            Cast
                        </div>
                        <div class="section-subtitle">
                            Spotlight Celebrities
                        </div>
                        <div class="section-body">
                            <div class="row mb-4">
                                {% include 'components/celebrity-card.html' with celebrityName='Keanu Reeves' movieName='Matrix' celebrityPhoto='http://img.timeinc.net/time/photoessays/2010/halloween_costumes/sad_keanu.jpg' %}{% include 'components/celebrity-card.html' with celebrityName='Keanu Reeves' movieName='Matrix' celebrityPhoto='http://img.timeinc.net/time/photoessays/2010/halloween_costumes/sad_keanu.jpg' %}
                                {% include 'components/celebrity-card.html' with celebrityName='Keanu Reeves' movieName='Matrix' celebrityPhoto='http://img.timeinc.net/time/photoessays/2010/halloween_costumes/sad_keanu.jpg' %}
                                {% include 'components/celebrity-card.html' with celebrityName='Keanu Reeves' movieName='Matrix' celebrityPhoto='http://img.timeinc.net/time/photoessays/2010/halloween_costumes/sad_keanu.jpg' %}
                                {% include 'components/celebrity-card.html' with celebrityName='Keanu Reeves' movieName='Matrix' celebrityPhoto='http://img.timeinc.net/time/photoessays/2010/halloween_costumes/sad_keanu.jpg' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}