<div class="content bg-white">
    <section class="pt-5">
        <div class="container">
            <div class="row py-3 mt-3">
                <div class="col-md-10 offset-md-1">
                    <article>
                        <div class="row">
                            <div class="col-12">
                                <img class="img-fluid fullImage" src="{{ articleImage }}">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 offset-md-1 col-2 offset-1 pr-div border-right">
                                <h3 class="h3-style">{{ articleDate }}</h3></div>
                            <div class="col-md-9 col-9">
                                <h3 class="text-capitalize">{{ articleTitle }}</h3>
                            </div>
                        </div>
                        <div class="row px-5 py-3">
                            <div class="col">
                                <p class="p-article text-justify">{{ articleSummary }}</p>
                                <a class="a-article" href="./detail.html">Read more</a>
                            </div>
                        </div>

                    </article>

                </div>
            </div>
