<div class="col-md-3 d-flex">
    <div class="card shadow-sm">
        <img class="bd-placeholder-img imheight card-img" src={{urlCover}} alt="{{ movieTitle }}">
        <div class="card-body">
            <h5 class="card-title">{{ movieTitle }}</h5>
            <p class="card-text"> {{ movieDetail }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary bt-font"><span class="bt-font">Details</span></button>
                    <button type="button" class="btn btn-secondary "><i class="fa fa-heart-o"></i>
                    </button>
                </div>
                <small class="text-muted">{{ movieTime }}</small>
            </div>
        </div>
    </div>
</div>  <!-- finish   col-md- 3 -->
